@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200,300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* ----------- reutilizable ------------- */
.container-landing{
    max-width: 1300px;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
}

/* ----------- nav ---------- */
.navbar{
    max-width: 1500px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 30px 70px;
    margin: auto;
}

.navbar .logo{
    font-size: 20px;
    font-weight: 100;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}

nav ul li a{
    color: gray;
    text-decoration: none;
}

nav ul li a.active{
    color: #000;
}

.uil{
    cursor: pointer;
}


/* contenido de la landing */

.text-container{
    position: relative;
    width: 100%;
    padding: 14rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 15rem;
}

.text-container h1{
    font-size: 3rem;
    margin-bottom: 30px;
}

.text-container span{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.text-container small{
    font-size: 1.1rem;
    margin-bottom: 30px;
}


.image-content{
    position: relative;
    width: 100%;
    padding: 100px 0 0;
    margin: 0;
}

.image-content img{
    margin: 0;
    width: 500px;
}

.content-right{
    width: 100%;
    position: relative;
}


.btn{
    width: 130px;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


/* ----------- plantas de los lados ------------- */
.decoration-1{
    width: 170px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.decoration-2{
    width: 170px;   
    position: absolute;
    top: calc(0% + 100px);
    right: 0;
}




